/* .main {
  background-color: #000;
  overflow: hidden;
  position: relative;
}

.swiper {
  display: flex;
  overflow-x: visible;
  transition-property: transform;
  will-change: transform;
}

img {
  object-fit: contain;
} */

/* *{
  box-sizing: border-box;
  margin:0;
  padding:0;
}


.slider {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 1000px;
  height: 400px;
  border-radius: 10px;
  object-fit: contain;
  
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 2;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 2;
  cursor: pointer;
} */
/* .right-arrow,.left-arrow{
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: #617d98;
  color:#fff;
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.right-arrow:hover,
.left-arrow:hover{
  background: #ba5d2c;
}
.left-arrow{
  left: 0;
}
.right-arrow{
  right:0;
} */
/* .slide {
 opacity: 0;
 transition-duration: 1s ease;

}
.slide.active{
 opacity:1;
 transition-duration: 1s;
 transform: scale(1.08);
}
.dots{
 cursor: pointer;
  height: 15px;
  width: 15px;  
  display: block;
  top:20;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}
.grey{
   background-color: #bbb;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: rgba(27, 24, 31, 1);
  width: 100vw;
}

.main {
  overflow: hidden;
  position: relative;
}

.swiper {
  display: flex;
  overflow-x: visible;
  transition-property: transform;
  will-change: transform;
  width: 70vw;
  padding-top:20px;
}


.grid-container {
  display: grid; 
  width:100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "foto foto info info"
    "foto foto list list"
    "foto foto list list";
}
img {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(27, 24, 31, 1);
}
.foto {
  grid-area: foto;
  
}

.info {
  grid-area: info;
  color: white;
  font-size: 30px;
}

.list {
  grid-area: list;
  color: white;
  font-size: 30px;
}

.move {
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: 0;
}

.back {
  left: 5px;
}
.next {
  right: 5px;
}
.back:hover,
.next:hover {
  background: white;
}
.abg {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.dots {
  cursor: pointer;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: white;
  transition: background-color 0.6s ease-in;
}
.grey {
  background-color: #bbb;
}
