* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: rgba(27, 24, 31, 1);
}

.main {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 1rem auto;
  /* padding: 2rem 1rem 1rem 0; */
  border-radius: 1rem;
}

.swiper {
  display: flex;
  overflow-x: visible;
  transition-property: transform;
  will-change: transform;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.slide {
  width: 100%;
  height: 100%;
  padding: 1.2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 40%;
  margin: auto 3rem;
  border-radius: 2rem;
}
.content {
  width: 100vw;
  height: 100%;
}

.content div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.content div h3 {
  font-weight: 500;
  font-size: 1.6rem;
}

.info {
  margin: 3.3rem 0;
}

.info h3 {
  letter-spacing: 0.2rem;
  margin: 0 5px;
}

.info a {
  color: rgb(160, 156, 156);
  text-decoration: none;
  cursor: pointer;
  font-style: italic;
}
.spotify:hover {
  color: rgb(39, 180, 39);
}

.genius:hover {
  color: rgb(236, 236, 40);
}

.move {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  outline: none;
  border: 0;
}

.back {
  left: 5px;
}
.next {
  right: 5px;
}
.back:hover,
.next:hover {
  background: white;
}
.dot-container {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.dots {
  cursor: pointer;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: white;
  transition: background-color 0.6s ease-in;
}
.active {
  background-color: #bbb;
}

@media only screen and (max-width: 950px) {
  .content div h3 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 740px) {
  .content div h3 {
    font-size: 0.8rem;
  }

  img {
    height: auto;
  }

  .slide {
    display: flex;
    flex-direction: column;

    width: 100vw;
  }
  
  .content div {
    justify-content: center;
  }
  /* .move {
    display: none;
  } */
}

@media only screen and (max-width: 365px) {
  .content div {
    justify-content: flex-start;
  }
}
